Checks: 
'-*,
clang-analyzer-core.*,
clang-analyzer-cplusplus.*,
optin-cplusplus.*,
bugprone-*,
cppcoreguidelines-*,
-cppcoreguidelines-pro-bounds-constant-array-index,
-cppcoreguidelines-pro-bounds-pointer-arithmetic,
-cppcoreguidelines-pro-bounds-array-to-pointer-decay,
-cppcoreguidelines-non-private-member-variables-in-classes,
-cppcoreguidelines-avoid-c-arrays,
#??,
-cppcoreguidelines-pro-type-union-access, 
google-readability-namespace-comments,
google-readability-todo,
google-runtime-int,
google-explicit-constructor,
misc-definitions-in-headers,
misc-redundant-expression,
misc-static-assert,
misc-throw-by-value-catch-by-reference,
misc-unconventional-assign-operator,
misc-uniqueptr-reset-release,
misc-unused-alias-decls,
misc-unused-parameters,
misc-unused-using-decls,
modernize-*,
-modernize-pass-by-value,
-modernize-use-trailing-return-type,
-modernize-raw-string-literal,
-modernize-avoid-c-arrays,
# non-C++17,
-modernize-concat-nested-namespaces,
#-modernize-use-using,
#readability-convert-member-functions-to-static,
readability-braces-around-statements,
#readability-implicit-bool-conversion,
readability-inconsistent-declaration-parameter-name,
readability-named-parameter,
readability-redundant-control-flow,
readability-container-size-empty,
readability-deleted-default,
readability-magic-numbers,
readability-identifier-naming'
CheckOptions:
  - { key: readability-identifier-naming.MethodCase,        value: camelBack  }
  - { key: readability-identifier-naming.FunctionCase,        value: camelBack  }
  - { key: readability-identifier-naming.NamespaceCase,       value: lower_case }
  - { key: readability-identifier-naming.ClassCase,           value: CamelCase  }
  - { key: readability-identifier-naming.PrivateMemberSuffix, value: _          }
  - { key: readability-identifier-naming.StructCase,          value: CamelCase  }
  - { key: readability-identifier-naming.VariableCase,        value: lower_case }
  - { key: readability-identifier-naming.ParameterCase,        value: lower_case }
  - { key: readability-identifier-naming.ParameterPackCase,        value: lower_case }
  - { key: readability-identifier-naming.GlobalConstantCase,  value: CamelCase }
  - { key: readability-identifier-naming.GlobalConstantPrefix,  value: k }
  - { key: readability-identifier-naming.ValueTemplateParameterCase,  value: CamelCase }
  - { key: readability-identifier-naming.ValueTemplateParameterPrefix,  value: t }
  - { key: readability-identifier-naming.TypeTemplateParameterCase,  value: CamelCase }
  - { key: readability-identifier-naming.TypeTemplateParameterPrefix,  value: T }
  - { key: readability-identifier-naming.StaticConstantCase,  value: CamelCase }
  - { key: readability-identifier-naming.StaticConstantPrefix,  value: k }
  - { key: readability-magic-numbers.IgnoredIntegerValues,  value: 0;1;2;3;4;10 }
  - { key: readability-magic-numbers.IgnoredFloatingPointValues,  value: 0.0;1.0;2.0;3.0;4.0;10.0;100.0 }
  - { key: cppcoreguidelines-avoid-magic-numbers.IgnoredIntegerValues,  value: 0;1;2;3;4;10 }
  - { key: cppcoreguidelines-avoid-magic-numbers.IgnoredFloatingPointValues,  value: 0.0;1.0;2.0;3.0;4.0;10.0;100.0 }

